:root {
    --primary: #3094BA;
    --primary-dark: #2E69B0;
    --secondary: #30BA96;
    /* --secondary-dark: #2EB069; */
    --secondary-dark: #32A1A3;
    --tertiary: #32A1A3;
    --text-light: #EEE;
    --text-dark: #111;
}

body {
    background-color: #111;
    margin: 0;
    color: var(--text-light);
}