.experience {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    width: 80vw;
    height: 420px;
    background-color: var(--primary);
    margin: 10px 0px 10px auto;
    padding: 20px;
    color: #DDD;
    font-weight: 300;
}

section .section-header {
    color: #EEE;
    font-size: 2.4em;
    font-weight: 200;
    /* border-bottom: 2px var(--secondary-dark) solid; */
}

article {
    border-left: 3px var(--tertiary) groove;
    line-height: 1.2em;
    margin: 10px 0px;
    padding-left: 10px;
}

article header {
    font-size: 1.4em;
    font-weight: 300;
    
}

.info {
    display: none;
    color: var(--primary);
    font-family: 'Benne', serif;
    font-weight: 500;
    width: 320px;
    min-width: 320px;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 0.6em;
}

.languages {
    width: 420px;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0px;

}

.lang-items ul {
    text-align: right;
}

.languages div {
    display: table-cell;
}

.lang-items {
    width: 210px;
    padding-right: 5px;
}

.lang-values {
    width: 210px;
    padding-left: 5px;
}

li {
    font-family: 'Oswald', sans-serif;
    line-height: 40px;
    font-size: 1.6em;
}

li .filled {
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    background-color: var(--tertiary);
    border-radius: 50%;
    display: inline-block;
}

li .empty {
    height: 16px;
    width: 16px;
    margin: 0px 5px;
    border: 2px var(--tertiary) solid;
    border-radius: 50%;
    display: inline-block;
}

footer {
    background-color: var(--secondary-dark);
}

@media (max-width: 1142px) {
    .experience {
        width: 90vw;
    }
    .description {
        order: 3;
        display: block;
    }
    
}

@media (max-width: 720px) {
    .experience {
        width: 420px;
    }
    body header {
        display: block;
    }
    .name-box {
        width: 420px;
        min-width: 420px;
        margin: auto;
        text-align: center;
    }
    .div-photo {
        margin: auto;
        width: 340px;
    }
    .img-photo {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
    .description {
        width: 320px;
        min-width: 320px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .languages {
        border-top: 3px rgb(0, 110, 110) solid;
        border-radius: 3px;
    }
    .info {
        display: block;
    }
}

@media (max-width: 480px) {
    .experience {
        width: 300px;
    }
    .name-box {
        width: 320px;
        min-width: 320px;
        height: 180px;
    }
    .name {
        font-size: 4.2em;
        word-spacing: 100vw;
        line-height: 0.8em;
    }
    .subtitle {
        letter-spacing: 0.8em;
    }
    .description {
        width: 280px;
        min-width: 280px;
        font-size: 1.2em;
    }
    .bar {
        display: none;
    }
    .div-photo {
        width: 240px;
    }
    .img-photo {
        width: 200px;
        height: 200px;
        margin: 20px;
    }

    .languages {
        width: 320px;
    }

    .lang-items {
        width: 160px;
    }
    
    .lang-values {
        width: 160px;
    }
}