.name-box {
    font-family: 'Oswald', sans-serif;
    color: #EEE;
    background-color: rgb(0, 110, 110);
    width: 460px;
    height: 200px;
    padding: 10px;
    float: left;
}

.name {
    font-size: 6em;
    word-spacing: 100vw;
    line-height: 0.8em;
}

.subtitle {
    font-weight: 200;
    letter-spacing: 0.6em;
}

.socials {
    float: right;
}

.div-photo {
    float: right;
    width: 220px;
}

.img-photo {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 100px;
}

@media (max-width: 720px) {
    .name-box {
        width: 440px;
        margin: auto;
        text-align: center;
        float: none;
    }
    .div-photo {
        float: none;
        margin: auto;
        width: 340px;
    }
    .img-photo {
        width: 300px;
        height: 300px;
        margin: 20px;
        border-radius: 150px;
    }
}

@media (max-width: 480px) {
    .name-box {
        width: 320px;
        height: 180px;
    }
    .name {
        font-size: 4.2em;
        word-spacing: 100vw;
        line-height: 0.8em;
    }
    .subtitle {
        letter-spacing: 0.8em;
    }
    .bar {
        display: none;
    }
    .div-photo {
        width: 240px;
    }
    .img-photo {
        width: 200px;
        height: 200px;
        margin: 20px;
        border-radius: 100px;
    }
}